<?xml version="1.0" encoding="UTF-8"?>
<settings>

    <category label="Geral">
        <setting id="pages"
                 type="labelenum"
                 label="Itens por Página"
                 values="20|25|50|75|100"
                 default="20" />
        
        <setting id="view_mode"
                 type="labelenum"
                 label="Modo de Visualização Padrão"
                 values="list|poster|iconwall|shift|infowall|widelist|wall|banner|fanart"
                 default="wall" />
                
        <setting id="enable_details_dialog" 
                 type="bool" 
                 label="Ativar Detalhes Extras" 
                 default="false" />   
        
		<setting id="playback.autoplay" 
		         type="bool" 
				 label="Reprodução Automática" 
				 default="false">
        <description>Se ativado, tenta reproduzir a melhor fonte automaticamente. Se desativado, mostra a lista de fontes.</description>
</setting>				 
                
    </category>

    <category label="Atualizações">
        
        <setting label="Verificar novo conteúdo" 
                 type="labelenum" 
                 id="update_interval" 
                 values="Desativado|A cada 3 horas|A cada 5 horas|A cada 12 horas|A cada 24 horas (Diariamente)" 
                 default="A cada 5 horas" />

        <setting label="[internal] Última data de verificação" 
                 type="text" 
                 id="last_update_check" 
                 visible="false" />
    </category>
    
    <category label="Provedores">
        <setting label="Ativar/Desativar Provedores" type="lsep"/>
		
		<setting id="provider.starckfilmes.enabled"
                 type="bool"
                 label="StarckFilmes (Torrent)"
                 default="true" />	 
		
        <setting id="provider.torrentio.enabled"
                 type="bool"
                 label="Torrentio (Torrent)"
                 default="true" /> 
		
		<setting id="provider.brazuca.enabled"
                 type="bool"
                 label="Brazuca (Torrent)"
                 default="true" /> 
		
		<setting id="provider.mycine.enabled"
                 type="bool"
                 label="MyCine (Direto)"
                 default="false" />
                
        <setting id="provider.animezey.enabled" 
                 type="bool" 
                 label="Animes Totais (Direto)" 
                 default="true"/>     

        </category>
    
</settings>